<!-- templates/components/game_info.html -->
<!-- our #game-info element would be updated 
on the appearance the checkGameStatus header.
It would be replaced by the response 
from a GET request to the "game_status" URL 
-->
<div class="game-info mt-20" 
id="game_info"
hx-trigger="checkGameStatus from:body"
hx-target="#game_info"
hx-get = "{% url 'game_status' %}"
hx-swap = "outerHTML"
>
    <div class="status"> 

    {% if status %}
     <p> Status: {{status}} </p>
    {% else %}
      You are Player {{request.user.player}}. 
        <button
    hx-get="{% url 'change_player' %}"
    hx-target= "#game_info"
    hx-swap = "outerHTML"
    hx-trigger= "click"
    >
     Change Your symbol </button>

    {% endif %}

    </div>

</div>  